.Home {
    &-brand {
        width: 100%;
        max-width: 175px;
        height: 100px;
    }

    &-container {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        left: 0;
        position: fixed;
        top: 0;
        z-index: -1;

        // Darken the background
        &:before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background-color: #66080b;

            z-index: -1;
        }

        .comics-wall {
            opacity: 0.05;
        }
    }

    &-content {
        font-family: $marvel-font;
        height: 100%;
        margin: 0 auto;
        max-width: 1680px;
        min-height: 100vh;
        padding: 0 20%;
        width: 100%;
    }

    &-menu {
        display: flex;
        flex-direction: column;
        padding: 50px 0;

        // Gradient text
        &-item {
            color: $marvel-white;
            background: linear-gradient(to bottom, $marvel-white, $marvel-gray);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            border-bottom: 1px solid $marvel-white;
            font-weight: bold;
            font-size: 1.7rem;
            padding: 0.5rem 0.5rem;
        }
    }
}
