$white: #fff;
$marvel-white: #ebe9e6;
$marvel-salmon: #c6a972;
$marvel-red: #e62429;
$marvel-yellow: #f5d742;
$marvel-dark-red: #9f0013;
$marvel-blue: #3a67d2;
$marvel-sky-blue: #5888f9;
$marvel-gray: #947a7a;
$marvel-toneless-gray: #bbb;
$marvel-dark: #151515;
$marvel-dark-transparent: rgba(32, 32, 32, 0.4);

$label-color: $white;
$dark-transparent: #0005;
$dark: #0e0c0b;
$gray-transparent: #fff1;
$dark-gray: rgb(58, 58, 58);

// Fonts

$marvel-font: "Open Sans Condensed", sans-serif;
$btn-inner-font: 800 14px/1 Roboto Bold, Trebuchet MS, Helvetica, Arial,
    sans-serif;
