@import url(https://fonts.googleapis.com/css?family=Passion+One);

.comics-wall {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/28359/marvel.jpg");

    animation: comics-background 6s steps(30) infinite;
}
